<div class="container">

  <div class="table-section">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="titre">
        <th mat-header-cell *matHeaderCellDef> Titre </th>
        <td mat-cell *matCellDef="let element">
          {{element.titre}}
        </td>
      </ng-container>

      <ng-container matColumnDef="developpeur">
        <th mat-header-cell *matHeaderCellDef> Développeur </th>
        <td mat-cell *matCellDef="let element">

          <div class="avatar" [ngClass]="getColor(element.id)">
            @if(element.photo?.length > 0) {
              <img [src]="'data:image/*;base64,' + element.photo" class="avatar-image"/>
            } @else {
              {{element.prenomDeveloppeur?.charAt(0) || ''}}{{element.nomDevloppeur?.charAt(0) || ''}}
            }
          </div>

          {{element.prenomDeveloppeur}} {{element.nomDevloppeur}}

        </td>
      </ng-container>

      <ng-container matColumnDef="periorite">
        <th mat-header-cell *matHeaderCellDef> Priorité </th>
        <td mat-cell *matCellDef="let element">
          {{element.periorite}}
        </td>
      </ng-container>

      <ng-container matColumnDef="dateModification">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element">
          {{element.dateModification | date:'yyyy-MM-dd'}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectTask(row)" ></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>

  </div>
  @if (selectedTask) {

  

  <div class="details-section">

    <h2>Task Details</h2>

    <h3>{{selectedTask.titre}}</h3>
    <p>{{selectedTask.description}}</p>

    <div class="section">
      <h4>Developer Work</h4>

      <div class="file-list">
        @for (file of staticFiles; track $index) {

        <div class="file-item" (click)="downloadFile(file)">

          <div class="file-icon">
            📄
          </div>

          <div class="file-name">
            {{file.nom}}
          </div>

        </div>
      }

      </div>

    </div>

    <div class="section">
      <h4>Priority</h4>
      <span>{{selectedTask.periorite}}</span>
    </div>

   

    <div class="actions">
      <button mat-raised-button color="primary" (click)="approverTask()">Approve</button>
      <button mat-raised-button color="warn" (click)="openRefusDialog()">Reject</button>
    </div>

  </div>
  }
</div>