.page {
  padding: 20px;
  font-family: Arial;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.badge {
  background: #eef2ff;
  padding: 6px 12px;
  border-radius: 20px;
  color: #4f46e5;
  font-weight: 500;
}

.add-btn {
  background: #f1f5f9;
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}


.task-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px;
  margin: 10px 0;

  border: 1px solid #e2e8f0;
  border-radius: 14px;
  background: #f8fafc;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.folder-icon {
  color: #5b6ee1;
}

.title {
  font-weight: 600;
}

.count {
  background: #e2e8f0;
  padding: 2px 8px;
  border-radius: 10px;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.status {
  border: 1px solid #cbd5f5;
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 12px;
}

.progress {
  background: #eef2ff;
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.add-icon {
  color: #6366f1;
  cursor: pointer;
}

.delete-icon {
  color: #ef4444;
  cursor: pointer;
}

.children {
  margin-left: 40px;
}


.form-card {
  margin-top: 20px;
  padding: 20px;
  border: 2px dashed #6366f1;
  border-radius: 12px;
}

.input, .textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.textarea {
  height: 80px;
}

.row {
  display: flex;
  gap: 10px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.save {
  background: #e5e7eb;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
}

.cancel {
  border: 1px solid #cbd5f5;
  padding: 10px 15px;
  border-radius: 20px;
  background: white;
}